<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.whatsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".statusActivity"></activity>
        <activity android:name=".captionStory" />
        <activity android:name=".photoStatus" />
        <activity android:name=".videoStatus" />
        <activity android:name=".myStatus" />
        <activity android:name=".showStatus" />
        <activity
            android:name=".DialogActivityDemo"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".videoFile" />
        <activity android:name=".audioFile" />
        <activity android:name=".fullImage" />
        <activity
            android:name=".chatsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".realLogin" />
        <activity android:name=".whatsAppTabs" />
        <activity android:name=".signUp" />
        <activity android:name=".loginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>